# This environment can be set to any value as below:
#
#     development
#     testing
#     production
SetEnv CI_ENV development

RewriteEngine on
RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
